[submodule "tools/extract-xiso"]
	path = tools/extract-xiso
	url = https://github.com/XboxDev/extract-xiso.git
[submodule "lib/net/lwip"]
	path = lib/net/lwip
	url = git://git.savannah.nongnu.org/lwip.git
[submodule "lib/sdl/SDL2"]
	path = lib/sdl/SDL2
	url = git@github.com:mborgerson/xbdoom-sdl2.git
	branch = nxdk
[submodule "lib/pdclib"]
	path = lib/pdclib
	url = git@github.com:mborgerson/xbdoom-pdclib.git
	branch = nxdk
[submodule "lib/sdl/SDL_ttf"]
	path = lib/sdl/SDL_ttf
	url = https://github.com/SDL-mirror/SDL_ttf
